---
  import Avatar from "./Avatar.astro";
---

<header id="header">
  <a href="/">
    <Avatar />
    <h1>m<span>ichael</span><span>&nbsp;</span>y<span>uen</span></h1>
  </a>
</header>
<script>
  const header = document.getElementById('header');
  document.addEventListener('scroll', () => {
    if (window.pageYOffset > 120) {
      header.classList.add('isNotAtTop');
    } else {
      header.classList.remove('isNotAtTop');
    }
  }, { capture: true, passive: true, })
</script>
<style>
  header {
    align-items: center;
    /* background: ${({ theme }) => theme.colors.background}; */
    background: #fff;
    /* border-bottom: 1px solid ${({ theme }) => theme.colors.gray}; */
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
    /* padding: ${({ theme }) => theme.space[3]}px; */
    padding: 16px;
    position: sticky;
    top: 0;
    transition: transform 300ms ease;
    width: 100%;
    /* z-index: ${({ theme }) => theme.zIndices[2]}; */
    z-index: 1;
  }

  header.isNotAtTop {
    transform: translateY(-150px);
  }

  header.isNotAtTop h1 span {
    opacity: 0;
    width: 0 !important;
    transition: opacity 600ms ease 300ms, width 300ms ease 600ms;
  }

  a {
    align-items: center;
    color: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  header :global(img) {
    /* margin-bottom: ${({ theme }) => theme.space[2]}px; */
    margin-bottom: 8px;
  }

  h1 {
    font-family: "Pacifico", serif;
    line-height: 1.15;
    /* margin-bottom: ${({ theme }) => theme.space[3]}px; */
    margin-bottom: 16px;
  }

  h1 span {
    display: inline-block;
    width: auto;
    transition: opacity 600ms ease 600ms, width 300ms ease 300ms;
  }

  h1 span:first-child {
    width: 80px;
  }

  h1 span:nth-child(2) {
    width: 9px;
  }

  h1 span:last-child {
    width: 45px;
  }
</style>